---
- name: Setup Jenkins
  hosts: 127.0.0.1
  connection: local
  become: yes
  vars:
    jenkins_version: "2.221"
    jenkins_hostname: localhost
    jenkins_java_options: "-Djenkins.install.runSetupWizard=false -Dfile.encoding=UTF-8 -Dsun.jnu.encoding=UTF-8"
    jenkins_plugins:
      - golang
      - git
      - github
      - nexus-artifact-uploader
      - publish-over-ssh
      - workflow-aggregator
      - ssh-agent
    jenkins_plugins_install_dependencies: true
  pre_tasks:
    - apt:
        pkg:
        - git
        - build-essential
        - jq
        state: present
  roles:
    - geerlingguy.jenkins
# workflow-aggregator = pipeline